{%load static%}
<script src="{% static '/assets/dependencies/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/isotope-layout/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/slick-carousel/js/slick.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/sal.js/sal.js' %}"></script>
    <script src="{% static '/assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/select2/js/select2.min.js' %}"></script>
    <script src="{% static '/assets/dependencies/elevate-zoom/jquery.elevatezoom.js' %}"></script>
    <script src="{% static '/assets/dependencies/bootstrap-validator/js/validator.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>

    <!-- Site Scripts -->
    <script src="{% static '/assets/js/app.js' %}"></script>