{% extends 'base.html' %}


{% block title %}
Home
{% endblock title %}


{% block mainContain %}
<section class="hero-banner">
    <div class="container">
        <div class="hero-content" data-sal="zoom-out" data-sal-duration="1000">
            <h1 class="item-title">Pixefy Community</h1>
            <p>Having real social contacts can sometimes be difficult FUN, everything becomes much simpler!</p>
            <div class="item-number">10,95,219</div>
            <div class="conn-people">Connected People</div>
            
        </div>
    </div>
    <div class="leftside-image">
        <div class="cartoon-image" data-sal="slide-down" data-sal-duration="1000" data-sal-delay="100">
            <img src="http://127.0.0.1:8000/media/media/images/people_1.png" alt="People">
        </div>
        <div class="shape-image" data-sal="slide-down" data-sal-duration="500" data-sal-delay="700">
            <img src="http://127.0.0.1:8000/media/media/images/shape_1.png" alt="shape">
        </div>
    </div>
    
</section>
<section class="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="why-choose-box">
                    <div class="item-subtitle">What We Do</div>
                    <h2 class="item-title"><span>Why Join Our</span> Pixefy from Social Network  ?</h2>
                    <p>Social hen an unknown printer took a galley of type and scrambled make type specimen book. It has survived not only five centuries but also the leap into electronic typesetting, remaining essentialunchanged they popularised with release.</p>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-box">
                    <ul class="features-list">
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-wechat"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">See Images</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-users"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Forum Discussion</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-paper"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Buy Images</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="community-network">
    <ul class="map-marker">
        <li><img src="http://127.0.0.1:8000/media/media/images/marker_1.png" alt="marker"></li>
        <li><img src="http://127.0.0.1:8000/media/media/images/marker_2.png" alt="marker"></li>
        <li><img src="http://127.0.0.1:8000/media/media/images/marker_3.png" alt="marker"></li>
        <li><img src="http://127.0.0.1:8000/media/media/images/marker_4.png" alt="marker"></li>
        <li><img src="http://127.0.0.1:8000/media/media/images/marker_5.png" alt="marker"></li>
    </ul>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="community-content">
                    <h2 class="item-title">129 Countries We Build Our Largest Community in <span>Pixefy Network</span></h2>
                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also leap electronic typesetting, remaining essentially.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape" data-sal="slide-left" data-sal-duration="500" data-sal-delay="500">
        <img src="http://127.0.0.1:8000/media/media/images/shape_7.png" alt="bg">
    </div>
</section>

{% endblock mainContain %}