{%load static%}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/media/favicon.png' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/slick-carousel/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/slick-carousel/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/magnific-popup/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/sal.js/sal.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/dependencies/select2/css/select2.min.css' %}">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{% static '/assets/css/app.css' %}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">